<div class="section">
	<h3>{{headingTitle}}</h3>
	<div class="gallery-section">
		<a href="./examples/css3d_panorama.html"><img class="photo"
			width="300" height="300" src="./resources/static/images/posx.jpg" /></a>
		<a href="./examples/css3d_youtube.html"><img class="photo"
			width="300" height="300"
			src="./resources/static/images/YouTube-logo-full_color.png"></a> <a
			href="./examples/css3d_periodictable.html"><img class="photo"
			width="300" height="300"
			src="./resources/static/images/23-2147491185.jpg"></a></br>
	</div>
</div>